@font-face {
  font-family: 'Gilroy';
  font-style: normal;
  font-weight: 300;
  src: local('Gilroy'),
    url('../fonts/gilroylight.woff2') format('woff2'),
    url('../fonts/gilroylight.woff') format('woff');
}

@font-face {
  font-family: 'Gilroy';
  font-style: normal;
  font-weight: 800;
  src: local('Gilroy'),
    url('../fonts/gilroyextrabold.woff2') format('woff2'),
    url('../fonts/gilroyextrabold.woff') format('woff');
}

:root {
  --basic-black: #000000;
  --basic-dark: #363636;
  --basic-grey: #464646;
  --basic-half-grey: #7E7E7E;
  --basic-grey-light: #E5E5E5;
  --basic-white: #ffffff;

  --special-yellow-dark: #F0C52E;
  --special-yellow-light: #F7E296;
  --special-green: #91C92F;
  --special-grey: #DCDCDC;

  --control-grey: #D9D9D9;
  --control-grey-light: #EBEBEB;

  --status: #F6DADA;
}
/*----------COMMON---------------------------------------------------------------------------------------*/
.page {
  height: 100%;
}

.page__body {
  min-width: 1160px;
  padding: 0;
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 15px;
  line-height: 20px;
  color: var(--basic-black);
  min-height: 100%;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
}

.link {
  text-decoration: none;
  color: var(--basic-black);
}

.list {
  padding: 0;
  margin: 0;
}

.list__item{
  list-style-type: none;
}

.img {
  max-width: 100%;
  height: auto;
}

.content__title {
  display: none;
}

.container {
  width: 1160px;
  margin: 0 auto;
  padding: 0;
}

.section:last-child {
  margin-bottom: 0;
}

.navigation__link,
.promo__number,
.title,
.service__button,
.about-us__transport,
.cart__link,
.switch-page__control {
  font-family: 'Gilroy', sans-serif;
  font-style: normal;
  font-weight: 800;
  margin: 0;
}
/*----------HEADER---------------------------------------------------------------------------------------*/
.header {
  height: 186px;
  margin-bottom: 35px;
}

.header-container {
  width: 1040px;
  padding: 0 60px;
  height: 186px;
  background-color: var(--special-yellow-light);
  display: grid;
  grid-template-rows: repeat(3, min-content);
  margin-top: 40px;
}

.header__logo-wrap {
  margin-top: -20px;
  margin-bottom: 29px;
}

.header-control {
  margin-bottom: 50px;
}

.header__search-form p{
  margin: 0;
}

.header__control-wrap,
.header__navigation {
  width: 500px;
}

.header-control,
.header__link-wrap {
  display: grid;
  grid-template-columns: 1fr max-content;
}

.header__control-wrap {
  display: flex;
}

.header-control__link:nth-child(1) {
  margin-left: 25px;
  margin-right: 239px;
}

.header-control__link:nth-child(2) {
  margin-right: 63px;
}

.header-control__button {
  background-color: var(--special-yellow-light);
  opacity: 0.3;
}

.navigation__list {
  display: flex;
}

.header__item:nth-child(1) {
  margin-right: 38px;
}

.header__item:nth-child(2) {
  margin-right: 102px;
}

.main__link:hover {
  opacity: 0.6;
}

.main__link:active {
  opacity: 0.3;
}

.navigation__link,
.service__button {
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
}
/*----------PROMO---------------------------------------------------------------------------------------*/
.promo {
  margin-bottom: 116px;
}

.promo-container {
  background: linear-gradient(to bottom, var(--special-yellow-light) 114px, var(--basic-white) 114px, var(--basic-white) 100%);
  height: 486px;
}

.promo__slide {
  display: grid;
  grid-template-columns: 540px 1fr;
}

.promo__img-wrap {
  margin-left: 89px;
  height: 486px;
}


.promo__description-wrap {
  width: 500px;
  height: 486px;
  margin-left: 60px;
}

.promo-wrap {
  width: 100px;
  height: 7px;
  background-color: var(--basic-white);
  position: relative;
  top: 15px;
}

.promo__number-wrap {
  width: 182px;
  height: 170px;
  position: relative;
  left: 328px;
  top: -37px;
}

.description-wrap {
  position: relative;
  display: flex;
  flex-direction: column;
  top: -97px;
}

.promo__control-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 62px;
}

.promo__number {
  font-size: 179px;
  line-height: 219px;
  color: var(--basic-white);
  text-transform: uppercase;
  padding: 0;
  margin: 0;
}

.promo__title {
  font-size: 47px;
  line-height: 58px;
  margin-top: 0;
  margin-bottom: 30px;
}

.promo__text {
  margin-top: 0;
  margin-bottom: 62px;
}

.promo__description {
  font-family: 'Gilroy', sans-serif;
  font-style: normal;
  font-weight: 300;
  letter-spacing: 0.1em;
  display: grid;
  grid-template-columns: 100px 80px 150px;
  grid-template-rows: 42px 15px;
  grid-row-gap: 15px;
  grid-column-gap: 65px;
}

.promo__description-text {
  margin: 0;
  text-align: justify;
}

.promo__value {
  font-size: 36px;
  line-height: 42px;
  letter-spacing: 0.11em;
}

.promo__property {
  font-size: 13px;
  line-height: 15px;
}

.promo__button-wrap {
  display: flex;
}

.promo__button {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  border: 1px solid var(--basic-black);
  box-sizing: border-box;
  outline: none;
  margin-left: 18px;
}

.promo__button:hover {
  cursor: pointer;
}
/*----------CATEGORY---------------------------------------------------------------------------------------*/
.category {
  margin-bottom: 184px;
}

.category__list {
  display: flex;
  justify-content: space-between;
}

.category__item-wrap {
  width: 160px;
}

.category__img-wrap {
  width: 160px;
  height: 160px;
  background-color: var(--special-yellow-light);
  text-align: center;
  display: table-cell;
  vertical-align: middle;
}

.category__title {
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.05em;
  margin-top: 38px;
}

.category__item:nth-child(4) .category__title{
  letter-spacing: 0;
}
/*----------SERVICE---------------------------------------------------------------------------------------*/
.service {
  margin-bottom: 90px;
  background-color: var(--basic-grey-light);
}

.service__list-wrap {
  height: 320px;
  width: 277px;
  border-right: 7px solid var(--basic-black);
  padding-top: 80px;
  position: relative;
  top: -80px;
}

.secvice__container {
  display: grid;
  grid-template-columns: max-content 1fr;
}

.service__wrap {
  height: 164px;
  width: 136px;
  background: url(../img/courier.svg) no-repeat;
  position: relative;
  top: -170px;
  left: 622px;
}

.service__description {
  margin-left: 116px;
  position: relative;
  top: -28px;
}

.service__button {
  border: none;
  outline: none;
}

.service__button:hover {
  cursor: pointer;
}

.service__title {
  font-size: 47px;
  line-height: 58px;
  letter-spacing: 0.2em;
  margin-bottom: 40px;
}

.service__text {
  line-height: 28px;
  letter-spacing: 0.1em;
  margin: 0;
}
/*----------PARTNER---------------------------------------------------------------------------------------*/
.partner-container {
  margin-bottom: 90px;
}

.partner__list {
  display: flex;
  justify-content: space-between;
}
/*----------COMMON_INFO---------------------------------------------------------------------------------------*/
.common-info__container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-bottom: 90px;
  height: 580px;
}

.common-info__wrap {
  display: flex;
  flex-direction: column;
}

.common-wrap {
  width: 80px;
  height: 7px;
  background-color: var(--basic-black);
  margin-bottom: 50px;
}

.common-info__title {
  font-size: 47px;
  line-height: 58px;
  letter-spacing: 0.2em;
  margin-bottom: 50px;
}

.common-info__text {
  margin: 0;
  line-height: 28px;
  margin-bottom: 40px;
}

.common-info__text ~ .common-info__text {
  margin-bottom: 63px;
}

.about-us__list {
  padding-left: 20px;
}

.about-us__item {
  list-style-type: circle;
  color: var(--basic-grey-light);
  padding-left: 10px;
  padding-bottom: 20px;
}

.about-us__item:last-child {
  padding-bottom: 0;
}

.about-us__transport {
  color: var(--basic-black);
}

.contacts__img:hover {
  cursor: pointer;
}

.common-info__link {
  margin-top: 85px;
}
/*----------FOOTER---------------------------------------------------------------------------------------*/
.footer {
  background-color: var(--basic-dark);
}

.footer-container {
  height: 324px;
  color: var(--basic-white);
  display: grid;
  grid-template-columns: 4fr 5fr 4fr;
  grid-column-gap: 60px;
}

.address {
  margin: 0;
  margin-bottom: 80px;
}

.footer-wrap {
  width: 80px;
  height: 7px;
  background-color: var(--special-yellow-dark);
}

.footer__column:nth-child(2) {
  justify-self: center;
}

.footer__column:last-child {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.footer__link {
  color: var(--basic-white);
}
.social__list {
  display: flex;
}

.social__link {
  opacity: 0.3;
}

.footer__logo {
  margin-top: 64px;
  margin-bottom: 40px;
}

.footer__navigation {
  margin-top: 142px;
}

.footer__item:not(:last-child) {
  margin-right: 36px;
}

.social {
  margin-top: 67px;
}

.social__item:first-child {
  margin-left: auto;
}

.social__item:last-child {
  margin-right: auto;
}

.social__item:not(:last-child) {
  margin-right: 20px;
}

.social_facebook-wrap {
  width: 32px;
  height: 32px;
  background: url('../img/facebook.svg') no-repeat center center;
}

.social_facebook-wrap:hover {
  opacity: 0.6;
}

.social_facebook-wrap:active {
  opacity: 0.1;
}

.social_instagram-wrap {
  width: 32px;
  height: 32px;
  background: url('../img/instagram.svg') no-repeat center center;
}

.social_instagram-wrap:hover {
  opacity: 0.6;
}

.social_instagram-wrap:active {
  opacity: 0.1;
}

.social_twitter-wrap {
  width: 32px;
  height: 32px;
  background: url('../img/twitter.svg') no-repeat center center;
}

.social_twitter-wrap:hover {
  opacity: 0.6;
}

.social_twitter-wrap:active {
  opacity: 0.1;
}

.footer-control {
  margin-top: 46px;
  margin-bottom: 73px;
}

.footer__phone-link {
  margin-bottom: 67px;
}

.footer-control__link:nth-child(1) {
  margin-right: 63px;
}

.footer-control__link:nth-child(2) {
  margin-right: 62px;
}

.footer-control__link {
  opacity: 0.7;
}
.footer-control__link:hover {
  opacity: 1;
}

.footer-control__link:active {
  opacity: 0.3;
}

.footer-control__button {
  color: var(--basic-white);
  background-color: var(--basic-dark);
}

.footer-control__button {
  opacity: 0.7;
}

.footer-control__button:hover {
  cursor: pointer;
  opacity: 1;
}

.footer-control__button:active {
  opacity: 0.3;
}

/*----------CATALOG---------------------------------------------------------------------------------------*/
.catalog-control {
  margin-bottom: 50px;
}

.catalog-container {
  padding: 0;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 328px 832px 1fr;
  grid-template-rows: 70px 1fr;
  grid-template-areas:
    "filt filt sort sort"
    "sett sett cont cont";
}

.left-block {
  width: 268px;
  margin-left: auto;
}

.right-block {
  width: 832px;
}
.catalog__button {
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 15px;
  line-height: 20px;
  outline: none;
  border: none;
}

.catalog__button:hover {
  cursor: pointer;
}

.catalog-control__title {
  font-size: 47px;
  line-height: 58px;
}

.catalog-control__link {
  opacity: 0.3;
}

.catalog-control__link:hover {
  opacity: 0.6;
}

.catalog-control__link:active {
  opacity: 0.1;
}

.catalog__title-wrap {
  grid-area: filt;
  background-color: var(--special-grey);
}

.catalog__title,
.sorting__title {
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

.sorting {
  background-color: var(--basic-grey-light);
  grid-area: sort;
}

.sorting-wrap {
  width: 760px;
  padding-left: 72px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.sorting__button {
  background-color: var(--basic-grey-light);
  opacity: 0.3;
}

.sorting__button:hover {
  opacity: 0.6;
}

.sorting__button:active {
  opacity: 1;
}

.filter {
  grid-area: sett;
  background-color: var(--basic-grey-light);
}

.catalog-cart {
  grid-area: cont;
  background-color: var(--basic-white);
}

.cart {
  margin: 0;
}

.catalog-cart__list {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 40px;
  margin-top: 69px;
}

.catalog-cart__item:nth-child(2n+1) {
  margin-left: 72px;
  margin-right: 40px;
}

.catalog-cart__item:nth-child(2n+2) {
  margin-bottom: 48px;
}

.cart__link {
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.05em;
}

.cart__title {
  font-family: 'Gilroy', sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 18px;
  letter-spacing: 0.05em;
}

.switch-page__control {
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

.switch-page {
  background-color: var(--control-grey-light);
  margin-left: 72px;
  margin-bottom: 78px;
  display: flex;
  justify-content: space-between;
}

.switch-page__list {
  display: flex;
  align-items: center;
}

.switch-page__item {
  margin: 0 15px;
}

.switch-page__button {
  width: 120px;
  height: 70px;
  border: none;
  outline: none;
  background-color: var(--control-grey-light);
}

.switch-page__button:hover {
  cursor: pointer;
}

.switch-page__link {
  opacity: 0.3;
}

.switch-page__link:hover {
  opacity: 0.6;
}

.switch-page__link:active {
  opacity: 1;
}
