@font-face {
  font-family: 'Gilroy';
  font-style: normal;
  font-weight: 300;
  src: local('Gilroy'),
    url('../fonts/gilroylight.woff2') format('woff2'),
    url('../fonts/gilroylight.woff') format('woff');
}

@font-face {
  font-family: 'Gilroy';
  font-style: normal;
  font-weight: 800;
  src: local('Gilroy'),
    url('../fonts/gilroyextrabold.woff2') format('woff2'),
    url('../fonts/gilroyextrabold.woff') format('woff');
}

:root {
  --basic-black: #000000;
  --basic-dark: #363636;
  --basic-grey: #464646;
  --basic-half-grey: #7E7E7E;
  --basic-grey-light: #E5E5E5;
  --basic-white: #ffffff;

  --special-yellow-dark: #F0C52E;
  --special-yellow-light: #F7E296;
  --special-green: #91C92F;

  --status: #F6DADA;
}

.page-body {
  min-width: 1160px;
  padding: 0;
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 15px;
  line-height: 20px;
  color: var(--basic-black);
}
.link {
  text-decoration: none;
  color: var(--basic-black);
}
.list-item{
  list-style-type: none;
}
.img {
  max-width: 100%;
  height: auto;
}
.content-title {
  display: none;
}

.header {
  background-color: var(--special-yellow-light);
}
.header-link:hover,
.footer-link:hover {
  opacity: 0.6;
}
.header-link:active,
.footer-link:active {
  opacity: 0.3;
}
.header-drop_down_menu,
.nav-link,
.promo-number,
.promo-title,
.promo-link,
.sections-title,
.secvice-button,
.service-title,
.about_us-title,
.transport-text,
.about_us-link,
.contact-title,
.contact-link,
.footer-nav_link {
  font-family: 'Gilroy', sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
}
.promo-title,
.sections-title,
.service-title,
.about_us-title,
.transport-text,
.contact-title {
  text-transform: none;
}
.promo-item {
  background-color: var(--special-yellow-light);
}
.promo-number {
  font-size: 179px;
  line-height: 219px;
  letter-spacing: 0;
  color: var(--basic-white);
}
.promo-title {
  font-size: 47px;
  line-height: 58px;
  letter-spacing: 0;
}
.product-value,
.product-property {
  font-family: 'Gilroy', sans-serif;
  font-weight: 300;
  letter-spacing: 0.1em;
}
.product-value {
  font-size: 36px;
  line-height: 42px;
}
.product-property {
  font-size: 13px;
  line-height: 15px;
}
.slider-button {
  width: 12px;
  height: 12px;
  border: 1px solid var(--basic-black);
  box-sizing: border-box;
  border-radius: 50%;
}
.sections-item {
  width: 160px;
}
.sections-img {
  width: 160px;
  height: 160px;
  background-color: var(--special-yellow-light);
}
.sections-title {
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.05em;
}
.sections-item:nth-child(4) .sections-title{
  letter-spacing: 0;
}
.service {
  background-color: var(--basic-grey-light);
}
.secvice-button {
  border: none;
}
.service-title {
  font-size: 47px;
  line-height: 58px;
}
.service-text {
  line-height: 28px;
  letter-spacing: 0.1em;
}
.about_us-title {
  font-size: 47px;
  line-height: 58px;
}
.about_us-text,
.contact-text {
  font-size: 15px;
  line-height: 28px;
}
.transport-item {
  list-style-type: circle;
}
.transport-text {
  font-size: 16px;
  line-height: 28px;
}
.contact-title {
  font-size: 47px;
  line-height: 58px;
}
.contact-img:hover {
  cursor: pointer;
}
.footer {
  color: var(--basic-white);
  background-color: var(--basic-dark);
}
.footer-nav_link,
.footer-control_link {
  color: var(--basic-white);
}
.social-link {
  opacity: 0.3;
}
.social-link:hover {
  opacity: 0.6;
}
.social-link:active {
  opacity: 0.1;
}
.footer-control_link {
  opacity: 0.7;
}
.footer-control_link:hover {
  opacity: 1;
}
.footer-control_link:active {
  opacity: 0.3;
}
